.media-queries {
  padding: 5px 8px;
}

@media (max-width: 600px) {
  .header, .container {
    padding: 10px 12px;
  }
  .section {
    padding: 20px 0;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .header, .container {
    padding: 10px 12px;
  }
  .section {
    padding: 30px 0;
  }
}

@media (min-width: 801px) {
  .header, .container {
    padding: 20px 30px;
  }
  .section {
    padding: 10px 0;
  }
}